<ion-view view-title="Ionic Components+">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
            <strong class="title">Pedido</strong>
        </div>
        <div class="im-wrapper">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Celular</span>
                    <input type="number" placeholder="Celular" min="1000000" minlength="7">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Nombres</span>
                    <input type="text" placeholder="Nombres">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Apellidos</span>
                    <input type="text" placeholder="Apellidos">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Pedido</span>
                    <textarea rows="5" placeholder="Escriba aquí su pedido"></textarea>
                </label>
                <br />
                <button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1">
                    Confirmar
                </button>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
    </ion-content>
</ion-view>